<template>
  <div class="main">
    <h1>Ceny złota</h1>
      <div class="block">
        <!-- select dates -->
        <el-date-picker
          v-model="dateFromTo"
          type="daterange"
          range-separator="Do"
          start-placeholder="Data początkowa"
          end-placeholder="Data końcowa"
          format="yyyy/MM/dd"
          :picker-options="pickerOptions">
        </el-date-picker>
        <el-alert v-if="error" title="" type="error" show-icon center>
          {{error.message}}
        </el-alert>     
      </div>
     <!-- end select dates -->
     <!-- download data -->
    <el-button class="center" type="success" icon="el-icon-download" v-on:click="fetchGoldPrices()">Pobierz dane</el-button>
    <!-- end download data -->
    <!-- table with data -->
    <div class="center">
    <el-table :data="goldPrices" height="250">
      <el-table-column label="Data" prop="data" sortable width="100" :filters="filterData" :filter-method="filterHandler">{{goldPrices.data}}</el-table-column>
      <el-table-column label="Cena" prop="cena" sortable width="100" :filters="filterCena" :filter-method="filterHandler">{{goldPrices.cena}}</el-table-column>
    </el-table>
    </div>
    <!-- end table with data -->
    <div class="information">
      <h2>Minimalna cena: <p>{{min}}</p></h2>
      <h2>Maksymalna cena: <p>{{max}}</p></h2>
      <h2>Mediana: <p>{{median}}</p></h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DataProvider',
    data (){
      return {
          goldPrices: [{
            data: '',
            cena: '',
          }],
          dateFromTo: [],
          error: '',
          pickerOptions:{
            disabledDate(time) {
              let yesterday = new Date();
              //(year,month,day)
              let startGoldPricesDate = new Date(2013,0,2);
              yesterday.setDate(yesterday.getDate() - 1)
              return time.getTime() > yesterday || time.getTime() < startGoldPricesDate;
            },
            onPick: this.clearError
          },
          
        };
  },
  methods: {
      formatter(row, column) {
        return row.address;
      },
      fetchGoldPrices(){
        //change date format for FROM date
        let fromYear = this.dateFromTo[0].getFullYear();
        let fromMonth = this.dateFromTo[0].getMonth() + 1;
        if(fromMonth < 10){
          fromMonth = "0" + fromMonth;
        }
        let fromDay = this.dateFromTo[0].getDate();
        if(fromDay < 10){
          fromDay = "0" + fromDay;
        }
        let from = fromYear + "-" + fromMonth + "-" + fromDay;
        //end change date format for FROM date

        //change date format for TO date
        let toYear = this.dateFromTo[1].getFullYear();
        let toMonth = this.dateFromTo[1].getMonth() + 1;
        if(toMonth < 10){
          toMonth = "0" + toMonth;
        }
        let toDay = this.dateFromTo[1].getDate();
        if(toDay < 10){
          toDay = "0" + toDay;
        }
        let to = toYear + "-" + toMonth + "-" + toDay;
        //end change date format for TO date
        //url construction and fetch
        let url =  'http://api.nbp.pl/api/cenyzlota/' + from + '/' + to + '/?format=json';
        fetch(url, {mode: 'cors'})
            //.then(resp => resp.json())
            .then(resp =>{
              if(resp.ok){
                return resp.json()
              }
              throw new Error('Błąd połączenia: ' + resp.statusText)
            })
            .then(json => {
                //console.log(json)
                this.goldPrices = json
            })
            .catch(error => {
              this.error = error
              //console.error(error)
            })
        //end url construction and fetch
      },
      clearError(){
        this.error = ''
      },
      filterHandler(value, row, column) {
        const property = column['property'];
        return row[property] === value;
      }
    },
    computed:{
      
      min: function(){
        let pricesArrMIN = [];
        let min = ''
        let resultMIN = ''
        for(let i = 0; i < this.goldPrices.length; i++){
          pricesArrMIN.push(this.goldPrices[i].cena);
        }
        min = Math.min(...pricesArrMIN)
        for(let j=0; j < this.goldPrices.length; j++){
          //result = this.goldPrices[j]
          if(this.goldPrices[j].cena == min){
            resultMIN = min + " -> " +  this.goldPrices[j].data
          }

        }
        return resultMIN
      },
      max: function(){
        let pricesArrMAX = [];
        let max = ''
        let resultMAX = ''
        for(let i = 0; i < this.goldPrices.length; i++){
          pricesArrMAX.push(this.goldPrices[i].cena);
        }
        max = Math.max(...pricesArrMAX)
        for(let j=0; j < this.goldPrices.length; j++){
          //result = this.goldPrices[j]
          if(this.goldPrices[j].cena == max){
            resultMAX = max + " -> " +  this.goldPrices[j].data
          }

        }
        return resultMAX
      },
      median: function(){
        let pricesArrMedian = [];
        let pricesArrMedianSorted = [];
        let oddResult = ''
        let evenResult = ''
        let resultMedian = ''
        let evenResultFirstHalf = ''
        let evenResultSecondHalf = ''
        for(let i = 0; i < this.goldPrices.length; i++){
          pricesArrMedian.push(this.goldPrices[i].cena);
        }
        pricesArrMedianSorted = pricesArrMedian.sort();
        if(pricesArrMedianSorted.length % 2 == 0){
          evenResult = pricesArrMedianSorted.length / 2
          evenResultFirstHalf = pricesArrMedianSorted[evenResult-1]
          evenResultSecondHalf = pricesArrMedianSorted[evenResult]
          resultMedian = (evenResultFirstHalf + evenResultSecondHalf) / 2
        }else{
          oddResult = Math.floor(pricesArrMedianSorted.length / 2)
          resultMedian = pricesArrMedianSorted[oddResult]
        }
        return resultMedian
      },
      filterData: function(){
        return this.goldPrices.map(gp => {return {text: gp.data, value: gp.data}})
      },
      filterCena: function(){
        return this.goldPrices.map(gp => {return {text: gp.cena, value: gp.cena}})
      } 
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main{
  background-color: #ffffff;
  }
.center{
  margin: 15px auto 15px auto;
  width: 210px;
}
.information{
  margin: 10px auto 10px auto;
  border: 3px groove rgba(0,0,0,0.1);
  width: 300px;
}
h1 {
  font-family:'Courier New', Courier, monospace;
  font-weight: 2500;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
  margin: 10px 0 0 0;
  padding: 15px;
  color: #5CAB40;
  
}
h2{
  font-size: 20px;
  color: #5CAB40;
  font-family: 'Courier New', Courier, monospace;
}
h2 p{
  font-size: 15px;
}


</style>
